body {
  background-image: url(/img/background.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
#content-stage {
  display: block;
  margin: 0 auto;
}

#audio-controls-container {
  display: block;
  margin: 0 auto;
}

#audio-controls-container ul {
  list-style-type: none;
}
#audio-controls-container ul li{
  display: inline-block;
}

.audio-controls {
  cursor: pointer;

  font-size: 50px;
  margin: 20px;
}

.audio-controls#btn-pause {
  display: none;
}

.audio-controls#btn-play {
  opacity: 0.5;
}

.balloon-head {
  background-image: url(project_components/balloon_head/img/balloonhead.png);
  background-size: 100% 100%;
  height: 327px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

#loading {
  font-size: 50px;
  margin: 20px;

  display: none;
}
